<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.mapper.BidMapper">	
  <cache />	
  
	<insert id="insertBidAuction" parameterType="Bid">
    	INSERT INTO bid(b_num, price, a_num, u_num, bid_date)
		VALUES (SEQ_BID_NUM.nextval, #{price}, #{auc.aNum}, #{participant.uNum}, #{bidDate})
  	</insert>

	<insert id="insertInitBid" parameterType="Bid">
    	INSERT INTO bid(b_num, price, a_num, u_num, bid_date)
		VALUES (SEQ_BID_NUM.nextval, #{price}, #{auc.aNum}, #{participant.uNum}, #{bidDate})
  	</insert>
  	
	<select id="selectBidMaxPrice" parameterType="Bid" resultType="Bid">
        SELECT a_num, price, u_num, b_num, bid_date
  		FROM bid
  		WHERE ROWNUM = 1 and price = (SELECT max(price) FROM bid WHERE a_num = #{auc.aNum})
        order by bid_date
	</select>
	
	<delete id="deleteExceptWinBid" parameterType="Bid">
		DELETE FROM bid
		WHERE a_num = #{auc.aNum} and price NOT IN #{price} 
	</delete>
	
	<delete id="deleteBid" parameterType="String">
		DELETE FROM bid
		WHERE a_num = #{aNum}
	</delete>
</mapper>