<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.mapper.CategoryMapper">	
  <cache />
  
  <select id="selectCategories" parameterType="hashmap" resultType="Category">
		SELECT cat_num, cat_title 
		FROM category
	</select>
	
	<select id="selectCatTitleByCatNum" resultType="Category">
		SELECT cat_num, cat_title 
		FROM category
		WHERE cat_num = #{catNum}
	</select>
	
	<select id="selectCategoryByPrimaryKey" resultType="String">
		SELECT cat_title 
		FROM category
		WHERE cat_num = #{cat_num}
	</select>
	<select id="selectCatTitle" parameterType="hashmap" resultType="Category">
		SELECT cat_num, cat_title 
		FROM category
		WHERE cat_num = #{category.catNum}
	</select>
	<select id="selectCatTitleById" parameterType="String" resultType="Category">
		SELECT cat_num, cat_title 
		FROM category
		WHERE cat_num = #{category.catNum}
	</select>	
</mapper>